In [6]:
import pandas as pd

In [120]:
df = pd.read_csv('/Users/rahulbanerjee/Rahul/iNeurone-docs/player-data/Player.csv',)

In [138]:
df[df['Country'] == 'India']['Player_Name'].min()

'A Ashish Reddy'

In [132]:
df

,Player_Id,Player_Name,DOB,Batting_Hand,Bowling_Skill,Country,Is_Umpire,Unnamed: 7
0,1,SC Ganguly,8-Jul-72,Left_Hand,Right-arm medium,India,0,NaN
1,2,BB McCullum,27-Sep-81,Right_Hand,Right-arm medium,New Zealand,0,NaN
2,3,RT Ponting,19-Dec-74,Right_Hand,Right-arm medium,Australia,0,NaN
3,4,DJ Hussey,15-Jul-77,Right_Hand,Right-arm offbreak,Australia,0,NaN
4,5,Mohammad Hafeez,17-Oct-80,Right_Hand,Right-arm offbreak,Pakistan,0,NaN
...,...,...,...,...,...,...,...,...
518,519,Subroto Das,NaN,NaN,NaN,India,1,NaN
519,520,K Srinivasan,NaN,NaN,NaN,India,1,NaN
520,521,VK Sharma,NaN,NaN,NaN,India,1,NaN
521,523,AV Wankhade,14-Mar-92,Right_Hand,NaN,India,0,NaN
522,524,B Aparajith,8-Jul-94,Right_Hand,Right-arm offbreak,India,0,NaN

In [113]:
df.dtypes

a     object
b     object
c     object
d     object
e     object
f     object
g     object
h    float64
dtype: object

In [106]:
df.describe()

               h
count  12.000000
mean    6.500000
std     3.605551
min     1.000000
25%     3.750000
50%     6.500000
75%     9.250000
max    12.000000

In [18]:
df.dtypes

Player_Id          int64
Player_Name       object
DOB               object
Batting_Hand      object
Bowling_Skill     object
Country           object
Is_Umpire          int64
Unnamed: 7       float64
dtype: object

In [46]:
df1 = pd.read_csv('/Users/rahulbanerjee/Rahul/iNeurone-docs/player-data/Player.csv',usecols=['Player_Name','Batting_Hand'])

In [51]:
df['Player_Id']

0        1
1        2
2        3
3        4
4        5
      ...
518    519
519    520
520    521
521    523
522    524
Name: Player_Id, Length: 523, dtype: int64

In [55]:
type(df['Player_Id'])

pandas.core.series.Series

In [56]:
df2 = pd.read_html("https://www.basketball-reference.com/players/i/ibakase01.html?utm_source=direct&utm_medium=Share&utm_campaign=ShareTool")

In [69]:
for i in range(len(df2)):
    print("Start---------")
    print(df2[i])

Start---------
       Season   Age                                   Team  \
0     2008-09  19.0  Did Not PlayÂ (other pro leagueâ€”Spain)
1     2009-10  20.0                                    OKC
2     2010-11  21.0                                    OKC
3     2011-12  22.0                                    OKC
4     2012-13  23.0                                    OKC
5     2013-14  24.0                                    OKC
6     2014-15  25.0                                    OKC
7     2015-16  26.0                                    OKC
8     2016-17  27.0                                    TOT
9     2016-17  27.0                                    ORL
10    2016-17  27.0                                    TOR
11    2017-18  28.0                                    TOR
12    2018-19  29.0                                    TOR
13    2019-20  30.0                                    TOR
14    2020-21  31.0                                    LAC
15     Career   NaN                                    NaN
16        NaN   NaN                                    NaN
17  7 seasons   NaN                                    OKC
18  4 seasons   NaN                                    TOR
19   1 season   NaN                                    ORL
20   1 season   NaN                                    LAC

                                       Lg  \
0   Did Not PlayÂ (other pro leagueâ€”Spain)
1                                     NBA
2                                     NBA
3                                     NBA
4                                     NBA
5                                     NBA
6                                     NBA
7                                     NBA
8                                     NBA
9                                     NBA
10                                    NBA
11                                    NBA
12                                    NBA
13                                    NBA
14                                    NBA
15                                    NBA
16                                    NaN
17                                    NBA
18                                    NBA
19                                    NBA
20                                    NBA

                                      Pos  \
0   Did Not PlayÂ (other pro leagueâ€”Spain)
1                                      PF
2                                      PF
3                                      PF
4                                      PF
5                                      PF
6                                      PF
7                                      PF
8                                      PF
9                                      PF
10                                     PF
11                                     PF
12                                      C
13                                      C
14                                      C
15                                    NaN
16                                    NaN
17                                    NaN
18                                    NaN
19                                    NaN
20                                    NaN

                                        G  \
0   Did Not PlayÂ (other pro leagueâ€”Spain)
1                                      73
2                                      82
3                                      66
4                                      80
5                                      81
6                                      64
7                                      78
8                                      79
9                                      56
10                                     23
11                                     76
12                                     74
13                                     55
14                                     41
15                                    849
16                                    NaN
17                                    524
18                                    228
19                                     56
20                                     41

                                       GS  \
0   Did Not PlayÂ (other pro leagueâ€”Spain)
1                                       0
2                                      44
3                                      66
4                                      80
5                                      81
6                                      64
7                                      78
8                                      79
9                                      56
10                                     23
11                                     76
12                                     51
13                                     27
14                                     39
15                                    685
16                                    NaN
17                                    413
18                                    177
19                                     56
20                                     39

                                       MP  \
0   Did Not PlayÂ (other pro leagueâ€”Spain)
1                                    18.1
2                                    27.0
3                                    27.2
4                                    31.1
5                                    32.9
6                                    33.1
7                                    32.1
8                                    30.7
9                                    30.5
10                                   31.0
11                                   27.5
12                                   27.2
13                                   27.0
14                                   23.3
15                                   28.3
16                                    NaN
17                                   28.8
18                                   27.6
19                                   30.5
20                                   23.3

                                       FG  \
0   Did Not PlayÂ (other pro leagueâ€”Spain)
1                                     2.8
2                                     4.1
3                                     4.0
4                                     5.6
5                                     6.5
6                                     5.8
7                                     5.3
8                                     6.0
9                                     6.1
10                                    5.6
11                                    5.0
12                                    6.3
13                                    6.2
14                                    4.5
15                                    5.2
16                                    NaN
17                                    4.9
18                                    5.8
19                                    6.1
20                                    4.5

                                      FGA  ...  \
0   Did Not PlayÂ (other pro leagueâ€”Spain)  ...
1                                     5.1  ...
2                                     7.5  ...
3                                     7.4  ...
4                                     9.7  ...
5                                    12.1  ...
6                                    12.3  ...
7                                    11.1  ...
8                                    12.4  ...
9                                    12.6  ...
10                                   12.1  ...
11                                   10.3  ...
12                                   11.9  ...
13                                   12.2  ...
14                                    8.9  ...
15                                   10.1  ...
16                                    NaN  ...
17                                    9.3  ...
18                                   11.4  ...
19                                   12.6  ...
20                                    8.9  ...

                                      FT%  \
0   Did Not PlayÂ (other pro leagueâ€”Spain)
1                                    .630
2                                    .750
3                                    .661
4                                    .749
5                                    .784
6                                    .836
7                                    .752
8                                    .856
9                                    .846
10                                   .882
11                                   .797
12                                   .763
13                                   .718
14                                   .811
15                                   .759
16                                    NaN
17                                   .745
18                                   .768
19                                   .846
20                                   .811

                                      ORB  \
0   Did Not PlayÂ (other pro leagueâ€”Spain)
1                                     1.9
2                                     2.6
3                                     2.9
4                                     2.8
5                                     2.8
6                                     2.1
7                                     1.8
8                                     1.6
9                                     1.8
10                                    1.3
11                                    1.0
12                                    2.1
13                                    2.1
14                                    1.8
15                                    2.1
16                                    NaN
17                                    2.4
18                                    1.7
19                                    1.8
20                                    1.8

                                      DRB  \
0   Did Not PlayÂ (other pro leagueâ€”Spain)
1                                     3.5
2                                     5.0
3                                     4.6
4                                     4.9
5                                     6.0
6                                     5.7
7                                     5.0
8                                     5.2
9                                     5.0
10                                    5.5
11                                    5.3
12                                    6.0
13                                    6.1
14                                    4.9
15                                    5.2
16                                    NaN
17                                    5.0
18                                    5.7
19                                    5.0
20                                    4.9

                                      TRB  \
0   Did Not PlayÂ (other pro leagueâ€”Spain)
1                                     5.4
2                                     7.6
3                                     7.5
4                                     7.7
5                                     8.8
6                                     7.8
7                                     6.8
8                                     6.8
9                                     6.8
10                                    6.8
11                                    6.3
12                                    8.1
13                                    8.2
14                                    6.7
15                                    7.3
16                                    NaN
17                                    7.4
18                                    7.4
19                                    6.8
20                                    6.7

                                      AST  \
0   Did Not PlayÂ (other pro leagueâ€”Spain)
1                                     0.1
2                                     0.3
3                                     0.4
4                                     0.5
5                                     1.0
6                                     0.9
7                                     0.8
8                                     0.9
9                                     1.1
10                                    0.7
11                                    0.8
12                                    1.3
13                                    1.4
14                                    1.8
15                                    0.8
16                                    NaN
17                                    0.6
18                                    1.1
19                                    1.1
20                                    1.8

                                      STL  \
0   Did Not PlayÂ (other pro leagueâ€”Spain)
1                                     0.3
2                                     0.4
3                                     0.5
4                                     0.4
5                                     0.5
6                                     0.5
7                                     0.5
8                                     0.5
9                                     0.6
10                                    0.3
11                                    0.4
12                                    0.4
13                                    0.5
14                                    0.2
15                                    0.4
16                                    NaN
17                                    0.4
18                                    0.4
19                                    0.6
20                                    0.2

                                      BLK  \
0   Did Not PlayÂ (other pro leagueâ€”Spain)
1                                     1.3
2                                     2.4
3                                     3.7
4                                     3.0
5                                     2.7
6                                     2.4
7                                     1.9
8                                     1.6
9                                     1.6
10                                    1.4
11                                    1.3
12                                    1.4
13                                    0.8
14                                    1.1
15                                    2.0
16                                    NaN
17                                    2.5
18                                    1.2
19                                    1.6
20                                    1.1

                                      TOV  \
0   Did Not PlayÂ (other pro leagueâ€”Spain)
1                                     0.9
2                                     0.9
3                                     1.2
4                                     1.6
5                                     1.5
6                                     1.5
7                                     1.4
8                                     1.3
9                                     1.2
10                                    1.7
11                                    1.2
12                                    1.5
13                                    2.0
14                                    1.1
15                                    1.3
16                                    NaN
17                                    1.3
18                                    1.5
19                                    1.2
20                                    1.1

                                       PF  \
0   Did Not PlayÂ (other pro leagueâ€”Spain)
1                                     2.7
2                                     3.3
3                                     2.7
4                                     2.7
5                                     2.9
6                                     3.0
7                                     2.7
8                                     2.7
9                                     2.5
10                                    3.3
11                                    2.8
12                                    2.9
13                                    2.8
14                                    1.9
15                                    2.8
16                                    NaN
17                                    2.8
18                                    2.8
19                                    2.5
20                                    1.9

                                      PTS
0   Did Not PlayÂ (other pro leagueâ€”Spain)
1                                     6.3
2                                     9.9
3                                     9.1
4                                    13.2
5                                    15.1
6                                    14.3
7                                    12.6
8                                    14.8
9                                    15.1
10                                   14.2
11                                   12.6
12                                   15.0
13                                   15.4
14                                   11.1
15                                   12.5
16                                    NaN
17                                   11.6
18                                   14.2
19                                   15.1
20                                   11.1

[21 rows x 30 columns]
Start---------
       Season   Age Team   Lg  Pos      G     GS    MP   FG   FGA  ...    FT%  \
0     2009-10  20.0  OKC  NBA   PF    6.0    0.0  25.5  3.3   5.8  ...  0.700
1     2010-11  21.0  OKC  NBA   PF   17.0   17.0  28.8  3.9   8.5  ...  0.825
2     2011-12  22.0  OKC  NBA   PF   20.0   20.0  28.5  4.2   8.0  ...  0.722
3     2012-13  23.0  OKC  NBA   PF   11.0   11.0  33.3  5.4  12.3  ...  0.792
4     2013-14  24.0  OKC  NBA   PF   17.0   17.0  34.2  5.1   8.6  ...  0.765
5     2015-16  26.0  OKC  NBA   PF   18.0   18.0  33.4  4.7   9.1  ...  0.750
6     2016-17  27.0  TOR  NBA   PF   10.0   10.0  30.7  6.0  13.0  ...  0.846
7     2017-18  28.0  TOR  NBA   PF   10.0    9.0  26.0  3.0   7.2  ...  0.818
8     2018-19  29.0  TOR  NBA    C   24.0    0.0  20.8  3.8   8.0  ...  0.762
9     2019-20  30.0  TOR  NBA    C   11.0    0.0  22.8  5.7  10.0  ...  1.000
10    2020-21  31.0  LAC  NBA    C    2.0    0.0   9.0  1.5   3.0  ...  1.000
11     Career   NaN  NaN  NBA  NaN  146.0  102.0  28.1  4.5   8.9  ...  0.792
12        NaN   NaN  NaN  NaN  NaN    NaN    NaN   NaN  NaN   NaN  ...    NaN
13  6 seasons   NaN  OKC  NBA  NaN   89.0   83.0  31.0  4.5   8.8  ...  0.768
14  4 seasons   NaN  TOR  NBA  NaN   55.0   19.0  24.0  4.5   9.2  ...  0.824
15   1 season   NaN  LAC  NBA  NaN    2.0    0.0   9.0  1.5   3.0  ...  1.000

    ORB  DRB  TRB  AST  STL  BLK  TOV   PF   PTS
0   2.2  4.3  6.5  0.3  0.3  2.0  1.0  3.2   7.8
1   2.8  4.5  7.3  0.2  0.2  3.1  1.2  3.8   9.8
2   2.4  3.4  5.8  0.6  0.6  3.0  0.6  2.9   9.8
3   3.5  4.8  8.4  0.7  0.0  3.0  0.6  3.5  12.8
4   1.8  5.0  6.8  0.7  0.6  2.5  1.2  3.2  12.1
5   1.3  5.0  6.3  0.6  0.8  1.3  0.5  2.8  12.0
6   0.9  5.6  6.5  1.4  0.4  1.7  1.1  3.7  14.3
7   1.3  4.6  5.9  1.1  0.1  1.3  1.6  2.1   8.7
8   1.5  4.5  6.0  0.9  0.5  1.0  1.0  3.3   9.4
9   1.5  6.2  7.7  1.2  0.2  1.3  1.1  2.5  14.8
10  0.5  1.5  2.0  1.0  0.5  1.5  0.5  0.5   5.0
11  1.9  4.7  6.5  0.7  0.4  2.0  1.0  3.1  11.0
12  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN
13  2.2  4.5  6.7  0.5  0.5  2.5  0.8  3.2  10.9
14  1.3  5.1  6.4  1.1  0.3  1.2  1.2  3.0  11.2
15  0.5  1.5  2.0  1.0  0.5  1.5  0.5  0.5   5.0

[16 rows x 30 columns]
Start---------
       Season   Age Team   Lg  Pos      G     GS       MP      FG     FGA  \
0     2009-10  20.0  OKC  NBA   PF   73.0    0.0   1323.0   201.0   370.0
1     2010-11  21.0  OKC  NBA   PF   82.0   44.0   2216.0   335.0   617.0
2     2011-12  22.0  OKC  NBA   PF   66.0   66.0   1792.0   262.0   490.0
3     2012-13  23.0  OKC  NBA   PF   80.0   80.0   2486.0   446.0   778.0
4     2013-14  24.0  OKC  NBA   PF   81.0   81.0   2666.0   524.0   978.0

In [72]:
import json
s = """{
"name" :"sudh",
"phone_no" : 45454545,
"comp":["iNeuron", "EY" , "unilver" , "verizon" , "deloitte" , "wipro"]
}
"""
s3 = json.loads(s)

{'name': 'sudh',
 'phone_no': 45454545,
 'comp': ['iNeuron', 'EY', 'unilver', 'verizon', 'deloitte', 'wipro']}

In [115]:
df3 = pd.DataFrame(s3,columns=['name','comp'])

In [116]:
df3

   name      comp
0  sudh   iNeuron
1  sudh        EY
2  sudh   unilver
3  sudh   verizon
4  sudh  deloitte
5  sudh     wipro

In [80]:
df4 = pd.read_json('https://api.github.com/repos/pandas-dev/pandas/issues')

In [153]:
df5 = pd.DataFrame.from_records(df4['user'])[['id','node_id']]

In [154]:
df5

          id               node_id
0    5811028  MDQ6VXNlcjU4MTEwMjg=
1    5811028  MDQ6VXNlcjU4MTEwMjg=
2    1199593  MDQ6VXNlcjExOTk1OTM=
3   47838927  MDQ6VXNlcjQ3ODM4OTI3
4    6618166  MDQ6VXNlcjY2MTgxNjY=
5   54398132  MDQ6VXNlcjU0Mzk4MTMy
6   33491632  MDQ6VXNlcjMzNDkxNjMy
7    1020496  MDQ6VXNlcjEwMjA0OTY=
8    6302028  MDQ6VXNlcjYzMDIwMjg=
9   24256554  MDQ6VXNlcjI0MjU2NTU0
10  13602468  MDQ6VXNlcjEzNjAyNDY4
11  18103560  MDQ6VXNlcjE4MTAzNTYw
12  10647082  MDQ6VXNlcjEwNjQ3MDgy
13  10884874  MDQ6VXNlcjEwODg0ODc0
14  37011898  MDQ6VXNlcjM3MDExODk4
15   8078968  MDQ6VXNlcjgwNzg5Njg=
16   8078968  MDQ6VXNlcjgwNzg5Njg=
17  23101198  MDQ6VXNlcjIzMTAxMTk4
18   1020496  MDQ6VXNlcjEwMjA0OTY=
19   1020496  MDQ6VXNlcjEwMjA0OTY=
20  42706631  MDQ6VXNlcjQyNzA2NjMx
21   8078968  MDQ6VXNlcjgwNzg5Njg=
22   1020496  MDQ6VXNlcjEwMjA0OTY=
23  57575138  MDQ6VXNlcjU3NTc1MTM4
24  24256554  MDQ6VXNlcjI0MjU2NTU0
25   1203825  MDQ6VXNlcjEyMDM4MjU=
26   8078968  MDQ6VXNlcjgwNzg5Njg=
27   3813175  MDQ6VXNlcjM4MTMxNzU=
28  13159005  MDQ6VXNlcjEzMTU5MDA1
29  24850405  MDQ6VXNlcjI0ODUwNDA1